[kube-master-1]
<...>

[kube-other-masters]
<...>

[kube-masters:children]
kube-master-1
kube-other-masters


[kube-workers]
<...>


[kube-all:children]
kube-masters
kube-workers


[all:vars]
my_password=<...>
ansible_user=<...>
ansible_password={{ my_password }}
ansible_become_password={{ my_password }}
